tr {
  height: 40px !important;
}

th {
  max-width: 125px;
  min-width: 125px;
  overflow-x: auto;
  white-space: nowrap;
  font-weight: bold;
  font-size: 1.15rem;
}

th .header {
  font-size: 1.15rem;
  font-weight: bold;
}
