body {
  color: darkblue;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.container {
  overflow-x: auto;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  padding: 10px;
  margin: 10px;
}
