body {
  color: darkblue;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.container {
  display: flexbox;
  flex-direction: row;
  padding: 40px;
  margin: 40px auto;
  width: fit-content;
}
